.logo {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-pic {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background: #000;
  background-image: linear-gradient(to right, transparent 50%, #fff 0);
  transform: rotate(55deg);
  position: relative;
}

.logo-pic:before {
  content: "";
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  transform: rotate(70deg);
}

.logo-pic-inner {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: #fff;
  background-image: linear-gradient(to right, transparent 50%, #00adff 0);
  transform: translate(-50%, -50%);
}

.logo-pic-inner:before {
  content: "";
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  transform: rotate(70deg);
}

.logo-text {
	font-family: sans-serif;
	text-transform: uppercase;
	margin-left: 5px;
}

.logo-text_bold {
	font-weight: 600;
	font-size: 26px;
}

.logo-text_slim {
	display: inline-block;
	width: 80px;
	font-weight: 100;
	font-size: 10px;
}

